# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
*.json
!appsettings.json
!appsettings.Development.json
!launchSettings.json
!project.assets.json
!*.csproj.nuget.dgspec.json

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
